

.wrapper {
    text-align:center;
    position: absolute;
}



.rockbutton {
    background-color: dimgray;
    border-color: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position:absolute;
    top:650px;
    height:60px;
    left:250px;
    width:200px;
}
.rockbutton:hover{background-color: #2B2B2B;}
.paperbutton:hover{background-color: #2B2B2B;}
.scissorsbutton:hover{background-color: #2B2B2B;}
.playagainbutton:hover{background-color: #271f5a;}

.paperbutton {
    background-color: dimgray;
    border-color: black;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position:absolute;
    top:350px;
    height:60px;
    left:640px;
    width:200px;
   
}

.playagainbutton {
    background-color: #6A5ACD; 
    border-color: black;
    border-radius: 50%;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position:absolute;
    top:800px;
    height:60px;
    left:640px;
    width:200px;
   
}

.scissorsbutton {
    background-color: dimgray;
    border-color: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position:absolute;
    top:650px;
    height:60px;
    left:1030px;
    width:200px;
}

.banner {
    color: #98FB98;
    -webkit-text-stroke: 2px black;
    font-size: 60px;
    font-family: sans-serif;
    text-align: center;
    position:absolute;
    top:1px;
    height:200px;
    left: 400px;
    width: 700px;
}

.rockpic {
    width: 200px;
    height: 150px;
    position: absolute;
    top:505px;
    left:250px;
}

.paperpic {
    width:200px;
    height:150px;
    position: absolute;
    top:201px;
    left:640px;
}

.scissorpic {
    width: 200px;
    height: 150px;
    position: absolute;
    top:505px;
    left:1030px;
}
